################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/HealthyApetiteAdminPrototype/.vs/HealthyApetiteAdminPrototype
